/* src/main/resources/static/styles.css */
body {
    font-family: Helvetica, Arial, sans-serif;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
}

form div {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}